* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightgreen;
}

.red {
    height: 50px;
    background-color: red;
    border: 1px solid white;
}

 .yellow {
    height: 50px;
    background-color: yellow;
    border: 1px solid white;
 }
